# Desarrollo local de la API
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pos
JWT_ACCESS_SECRET=cambia-esto-por-un-secreto-largo-y-aleatorio-de-32+
JWT_ACCESS_TTL=15m
REFRESH_TTL_DAYS=7
COOKIE_SECURE=false
CORS_ORIGIN=http://localhost:5173
UPLOADS_DIR=./uploads
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=Cambiar123!
SUPERADMIN_NAME="Super Administrador"
